
<head>
    <link rel="stylesheet" href="/styles/app.css">
</head>

<%- include('header'); -%>
<h1>Your Cart</h1>
<ul class="cart flex" style="flex-direction: column;">
    <% if (cart.length > 0) { %>
        <% cart.forEach(item => { %>
            <li style="list-style: none;">
                <img src="/<%= item.product.image %>" alt="<%= item.product.name %>" style="width: 100px;">
                <h3><%= item.product.name %></h3>
                <p>Price:₪<%= item.product.price %></p>
                <p>Quantity: <%= item.quantity %></p>
                <p>Total: $<%= item.product.price * item.quantity %></p>
                
                <div>
                    <form action="/cart/update" method="POST" style="display: inline;">
                        <input type="hidden" name="productId" value="<%= item.productId %>">
                        <input type="hidden" name="quantityChange" value="1">
                        <button style="width: 40px; margin: 10px;" type="submit">+</button>
                    </form>
                    <form action="/cart/update" method="POST" style="display: inline;">
                        <input type="hidden" name="productId" value="<%= item.productId %>">
                        <input type="hidden" name="quantityChange" value="-1">
                        <button style="width: 40px;" type="submit">-</button>
                    </form>
                </div>
                <form action="/cart/remove" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="<%= item.productId %>">
                    <button type="submit">Remove</button>
                </form>
            </li>
            
        <% }) %>
        <p>Total Amount:₪<%= cart.reduce((total, item) => total + item.product.price * item.quantity, 0) %></p>
        <% cart.map(item => { %>
            <form action="/order/add" method="POST">
                <input type="hidden" name="productId" value="<%= item.productId %>">
                <input type="hidden" name="quantity" value="<%= item.quantity %>">
        <% }) %>
        <button type="submit">Place Order</button>
            </form>
        
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
</ul>
