<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <title>Your Orders</title>
    <style>
        button{
            width: 110px;
            margin: 20px 0;
        }
        .order{
            width: 340px;
            border: 0.5px solid gray;
            padding: 10px;
            border-radius: 10px;
        }
        p{
            margin: 5px;
            font-size: larger;
        }
    </style>
</head>
<%- include('header'); -%>
<body>
    <div class="flex">
        <div class="order-page flex" >
        <% if (orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <div class="order">
                    <h2>Order ID: <%= order._id %></h2>
                    <p>Status: <%= order.status %></p>
                    <p>Total Amount: ₪<%= order.totalAmount %></p>
                    <p>Ordered on: <%= order.createdAt.toDateString() %></p>
                    <ul style="list-style: none;">
                        <% order.products.forEach(item => { %>
                            <li style="margin: 20px;">
                                <img src="/<%= item.product.image %>" alt="<%= item.product.name %>" style="width: 100px;">
                                <p><%= item.product.name %> - Quantity: <%= item.quantity %></p>
                                <p>Price: ₪<%= item.product.price %></p>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% }) %>
        <% } else { %>
            <p>You have no orders.</p>
        <% } %>
        </div>
    </div>
    
    
</body>
<%- include('footer'); -%>
</html>
