<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.name %></title>
  <link rel="stylesheet" href="/styles/app.css">
</head>

<%- include("header"); -%>
<body>
  <div class="product-page">
    <div class="container flex" style="gap: 50px;">
      <div class="image">
        <img class="image" src="/<%= product.image %>" alt="<%= product.name %>">
      </div>
      <div class="flex" style="flex-direction: column; align-items: flex-end;">
        <div class="texts" style="padding-right: 50px;">
          <h1><%= product.name %></h1>
          <h3>Price: ₪<%= product.price %></h3>
          <p><%= product.description %></p>
        </div>
        <div class="icons">
          <%-include ("productDetails")-%></div>
        </div>
      </div>
      
  </div>
    <form style="margin-top: -50px;" action="/cart/add" method="POST">
      <input type="hidden" name="productId" value="<%= product._id %>">
      <button class="product-btn" type="submit">Add to Cart</button>
    </form>
<div>
  <h1 class="flex" style="margin-top: 100px;">מוצרים קשורים</h1>
  <div class="flex">
    <div style="margin-top: 50px;" class="flex">
        <% products.forEach((product) => { %>
            <div class="card">
                <a href="/product/<%= product.category %>/<%= product._id %>">
                  <img src="/<%= product.image %>" alt="<%= product.name %>">
                  <h3><%= product.name %></h3>
                </a>
                <p>Price: ₪<%= product.price %></p>
                  <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <button type="submit">Add to Cart</button>
                  </form>
              </div>
        <% }) %>
    </div>
    
</div>
</div>
<%- include("footer"); -%>
</body>
</html>
